
/* layout styles  */
.d-flex{display: flex;}
.d-block{display: block;}
.flex-column{flex-direction: column;}
.justifyCenter{justify-content: center;}
.justifyBetween{justify-content: space-between;}
.alignCenter{align-items: center;}

/* text-styles  */
.text-center{text-align: center;}
.capitalize{text-transform: capitalize;}

