.homeContainer {
  margin: 0;
}

.bannerContainer {
  width: 100%;
  height: 35rem;
  background: no-repeat 100%
    url("../clientSide/assets/backgrounds/home-banner-bg.jpg");

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  margin-bottom: 15rem;
}
.bannerText {
  margin: 5rem;
  text-align: center;
  color: rgb(252, 253, 251);
}
.bannerText h1 {
  font-size: 2.5rem;
}
.bannerText p {
  font-size: x-large;
}
.freeConvertContainer {
  position: absolute;
  width: 50rem;
  background-color: rgb(235, 226, 226);
  box-shadow: 0 0 5px 1px rgb(124, 167, 68);
  padding: 2rem 2rem;
  left: 0;
  right: 0;
  bottom: -11rem; /* match it with next section by adding same margin with it's parent .bannerContainer{}*/
  margin: auto;
  border-radius: 0.6rem;
}

.freeConvertContainer textarea {
  width: 98%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  min-height: 12rem;
  resize: none;
}
.freeConvertContainer textarea:focus {
  outline: 1px dashed rgb(98, 98, 139);
}

/* style text area scrollbar  start*/
/* styel scrollbar for firefox  */
.freeConvertContainer textarea {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */
}

/* for Chrome, Edge, and Safari */
.freeConvertContainer textarea::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.freeConvertContainer textarea::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}
.freeConvertContainer textarea::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid orange; /* creates padding around scroll thumb */
}

/* style text area scrollbar  end*/
.textareStatusMsg {
  display: grid;
  grid-template-columns: 1fr 200px;
  color: #4b4a4a;
  font-size: 14px;
}

.convertControl {
  display: grid;
  grid-template-columns: auto 1fr 150px;
  justify-items: center;
}
.convertControl select {
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
}
.convertControl button {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: lightblue;
  padding: 3px 14px;
  display: block;
  margin: 4px auto;
}
.convertControl button:hover {
  background-color: rgb(147, 205, 224);
  cursor: pointer;
  color: blue;
}
.freeControlBtns{

}

/* Home Page Common styles */
.subTitle {
  font-size: xx-large;
  margin: 1rem auto;
}

/* step card styles  start */
.stepCardContainer {
  margin: 4rem 10%;
  text-align: center;
}
.stepCardContainer h1 {
  /* font-size: xx-large;
  margin: 1rem auto; */
}
.stepCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.stepCard {
  /* width: 380px; */
  padding: 1rem;
  box-shadow: inset 0 0 15px 1px rgb(96, 100, 139);
  border-radius: 10px;
}
/* step card styles  end */

/* supported language styles  start */
.langContainer {
  background-color: rgb(48, 52, 105);
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}
.langWrapper {
  margin: auto 10%;
  background-color: rgb(48, 52, 105);
}
.langCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.langCard {
  padding: 8px 14px;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px rgb(57, 207, 57);
  width: 200px;
}
/* supported language styles end */

/* short add style start  */
.sortSiteAdd {
  margin: 8rem 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  height: 25rem;
}
.sortSiteAdd h1 {
  font-size: 3rem;
  text-align: center;
}
.sortSiteAddMedia {
  height: 100%;
  background: no-repeat 100%
    url("../clientSide/assets/backgrounds/sort-site-add.png");
  background-size: contain;
  background-position: center;
  width: 100%;
}
/* short add style end */

/* hints signup start */
.hintsSignnUp {
  margin: 8rem 10%;
  flex-direction: column;
}
.hintsSignnUp h1 {
  font-size: 3rem;
  text-transform: capitalize;
  max-width: 50rem;
  margin: 2rem auto;
}
.hintsSignnUp a {
  display: block;
  width: max-content;
  margin: 2rem auto;
  padding: 8px 14px;
  font-weight: 700;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    rgb(42, 164, 173),
    rgb(66, 141, 106)
  );
  color: rgb(135, 236, 76);
  text-decoration: none;
  transition: all 0.3s;
}
.hintsSignnUp a:hover {
  background-image: linear-gradient(
    to right,
    rgb(66, 141, 106),
    rgb(42, 164, 173)
  );
}

.hireProContainer {
  /* height: 20rem; */
  background: no-repeat 100%
    url("../clientSide/assets/backgrounds/pro-back-bg.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
}
.hireProWrapper {
  margin: auto 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.hireProDescription {
  margin: 3rem auto;
}
.hireProDescription h1 {
  font-size: 3rem;
  margin-bottom: 0;
}
.hireProDescription p {
  font-size: 1.5rem;
  margin: 0;
}

.profiles {
  display: flex;
  justify-content: space-around;
}
.profile {
  border: 1px solid rgb(150, 152, 230);
  border-radius: 10px;
  width: 260px;
  padding: 30px 18px;
  text-align: center;
  background-color: rgb(78, 68, 170);
  box-shadow: inset 0 0 10px 1px rgb(16, 3, 134);
}
.profile img {
  border-radius: 50%;
}
.profile h2 {
  margin-bottom: 0;
}
.profilePosition {
  margin-top: 4px;
}

.profileEmail {
  font-weight: 600;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 3px;
  font-style: italic;
  gap: 10px;
  margin: 1rem auto;
  background-color: rgb(226, 219, 219);
  color: rgb(58, 44, 44);
  text-decoration: none;
}

.profileIcons {
  gap: 1rem;
}





/* *****RESPONSIVE STYLES START******  */

@media (max-width: 576px) {
  .bannerContainer {
    height: 30rem;
    grid-template-columns: repeat(1, 1fr);
    /* margin-bottom: 15rem; */
    background-position: -130px;
    background-size: cover;
  }
  .bannerText {
    margin: 1rem;
  }
  .bannerText h1 {
    font-size: 1.3rem;
  }
  .bannerText p {
    /* font-size: x-large; */
  }

  /* Free Convert Box responsive  */
  .freeConvertContainer {
    width: 80%;
    bottom: -15rem; /* match it with next section by adding same margin with it's parent .bannerContainer{}*/
    border-radius: 0.6rem;
  }
  .convertControl {
    grid-template-columns: repeat(1,1fr);
    gap: 0.5rem;
    margin-top: 10px;
  }

  /* process steps responsive  */
  .stepCardContainer {
    margin-top: 18rem;
    text-align: center;
  }
  .stepCards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  /* sort site add responsive  */
  .sortSiteAdd {
    margin: 4rem 10px 10rem 10px;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .sortSiteAdd h1{
    font-size: 2.2rem;
  }
  .sortSiteAdd p{
    font-size: 1.2rem;
    margin: auto 5%;
  }
  .sortSiteAddMedia{
    min-height: 15rem;
  }

  /* supported languages responsive  */
  .langContainer {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .langWrapper {
    margin: auto 1%;
  }
  .langCard {
    padding: 8px 0px;
    width: 190px;
  }

  /* hits signup responsive  */
  .hintsSignnUp {
    margin: 4rem 2%;
    text-align: center;
  }
  .hintsSignnUp h1{
    font-size: 1.8rem;
    /* max-width: 50rem; */
    /* margin: 2rem auto; */
  }

  /* profile responsive  */
  .profiles {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .profile {
    width: 90%;
  }

}

@media (min-width: 577px) and (max-width: 768px) {
  .bannerContainer {
    height: 30rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 18rem;
    background-size: cover;
    text-align: center;
  }
  .freeConvertContainer {
    width: 82%;
    bottom: -15rem; /* match it with next section by adding same margin with it's parent .bannerContainer{}*/
  }
  .stepCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .sortSiteAdd h1{
    font-size: 1.5rem;
  }
  .sortSiteAdd p{
    font-size: 20px;
  }
  .langCard {
    padding: 8px 0px;
    width: 190px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .bannerContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 18rem;
    background-size: cover;
    text-align: center;
  }
  .freeConvertContainer {
    width: 80%;
    bottom: -15rem; /* match it with next section by adding same margin with it's parent .bannerContainer{}*/
  }
  .stepCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .bannerContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 18rem;
    background-size: cover;
    text-align: center;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .bannerContainer {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 18rem;
    background-size: cover;
    text-align: center;
  }
}


/* *******RESPONSIVE STYLES END******* */
