.logReg_container{
    margin: auto 0 !important;
    background: no-repeat url("../clientSide/assets/backgrounds/login-bg.png");
    background-size: cover;
  }
  .logReg_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 17vh);
    color: black;
  }
.formFields{
    margin: auto;
    width: fit-content;
    background-color: aliceblue;
}

.formFields form div{
  gap: 1rem;
}
.formFields form input{
  background-color: transparent;
  border: 1px solid var(--whiteDark);
  outline: none;
  caret-color: yellowgreen;
}
