.sub_pay_nav{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: x-large;
}
.sub_pay_nav_item{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(80, 89, 133);
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
}
.sub_pay_nav_item a{
    color: yellowgreen;
    text-decoration: none;
}
.sub_pay_nav_item_disable a{
    color: lightgray;
}

.package_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    max-width: 50rem;
    border: 1px solid #97b46173;
    box-shadow: 0 0 10px 1px #b6d37c70;
    border-radius: 0.4rem;
}


/* cards styles  */
.payment_cards_wrapper{
    margin-top: 8rem;

}
.payment_cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    max-width: 20rem;
    margin: auto;
    border: 1px solid #717761d8;
    border-radius: 8px;
    padding: 1em 1.5em;
    box-shadow: 0 0 10px 1px #5e7038b0;
}

.payment_card svg{
    cursor: pointer;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.payment_card svg:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.a{
    color: #489248e5;
}


/* payment successful card style  start */

.purchase_success_card{
    width: 25rem;
    height: 30rem;
    border-radius: 15px;
    /* box-shadow: inset 0 0 60px 1px rgb(70, 78, 182); */
    background-color: rgb(56, 83, 119);
    padding: 2rem;
    margin: 2rem;
}
.purchase_card_content{
    margin-top: 3rem;
}

.purchase_success_card button{
    color: green;
    font-weight: 700;
    font-size: larger;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
}
.purchase_success_card button:hover{
    background-color: #43a3c9;
    color: #e7e3e3;
    cursor: pointer;
}
/* payment successful card style  end*/




/* *****RESPONSIVE STYLES START******  */

@media (max-width: 576px) {
    .sub_pay_nav{
        gap: 0.5rem;
        font-size: large;
    }
    .package_title{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .package_wrapper{
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        max-width: 18rem;
    }
    .package_wrapper p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .packageCharInfo{
        border-bottom: 3px dashed rgb(125, 125, 226);
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  
  
}

@media (min-width: 769px) and (max-width: 992px) {
  
  
}

@media (min-width: 993px) and (max-width: 1200px) {
  
  
}

@media (min-width: 1201px) and (max-width: 1400px) {
  
}


/* *******RESPONSIVE STYLES END******* */


